@using Compta.Ledger.Core.orgTestapp.App
@using Compta.Ledger.Core.orgTestapp.Services
@using Compta.Ledger.Core.orgTestapp.Entities
@rendermode InteractiveServer

<div class="category-tree">

    <div class="d-flex justify-content-between mb-2">

        <div class="google-search-container">
            <span class="search-icon">
                <i class="fa fa-search" aria-hidden="true"></i>

            </span>

            <input type="text"
                   class="google-search-input"
                   placeholder="Search categories..."
                   @bind="searchText"
                   @onkeydown="OnSearchKeyDown" />

                    
            @if (!string.IsNullOrWhiteSpace(searchText))
            {
                <i class="fa fa-times-circle clear-icon"
                   aria-hidden="true"
                   @onclick="ClearSearch"></i>
            }

        </div>

        <button class="btn-add-root" @onclick="OpenModal">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add Root
        </button>


    </div>

    @{
        var nodesToShow = string.IsNullOrWhiteSpace(searchText)
        ? rootNodes
        : filteredRoots;
    }

    @if (isLoading)
    {
        <div class="loading-spinner">
            <i class="fa fa-spinner fa-pulse fa-fw"></i>
            Loading...
        </div>

    }
    else if (nodesToShow.Any())
    {
        <div class="tree-container">
            @foreach (var node in nodesToShow)
            {
                <TreeNode Node="node"
                          Service="OrgService"
                          OnNodeDeleted="NodeDeleted"
                          OnNodeMoved="NodeMoved" />
            }
        </div>
    }
    else
    {
        <div class="p-2 rounded bg-light text-dark">
            <strong>No Node found.</strong>
        </div>

    }


</div>

@if (showRootModal)
{
    <div class="modal-backdrop" @onclick="CloseModal"></div>

    <div class="modal-dialog-container">
        <div class="modal-box">
            <div class="modal-header">
                <h5>Create Root Category</h5>
                <button class="close-btn" @onclick="CloseModal">✕</button>
            </div>

            <div class="modal-body">
                <input type="text"
                       class="modal-input"
                       @bind="newRootName"
                       placeholder="Enter category name"
                       @onkeydown="KeyDown"
                       autofocus />
            </div>

            <div class="modal-footer">
                <button class="btn-modal btn-cancel"
                        @onclick="CloseModal">
                    Cancel
                </button>

                <button class="btn-modal btn-save"
                        disabled="@string.IsNullOrWhiteSpace(newRootName)"
                        @onclick="AddRootCategory">
                    Add Category
                </button>
            </div>
        </div>
    </div>
}
